---
import Layout from "../layouts/Layout.astro";


---

<Layout title="waste3d">
    <div class="header"> <i class="fa-solid fa-triangle-exclamation"></i>    Original website in development</div>
  
    

      <div class="card">
        <div class="container">
        <div class="main-card">
            <div class="card-logo">
                <img src="./image.png" alt="#">
            </div>
            <div class="nickname">
                <h1>waste3d</h1>
                <div class="skills-name">
                    <i class="fa-brands fa-python"></i> Python developer | DevOps engineer  <i class="fa-solid fa-database"></i>
                </div>
            </div>
            <div class="contacts">
                <a href=""><i class="fa-brands fa-github"></i> github</a>ㅤㅤㅤ
                <a href=""><i class="fa-brands fa-telegram"></i>  telegram</a> 
            </div>
            <div class="sills">
                <i class="fa-solid fa-shuttle-space"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-solid fa-code"></i>
                <i class="fa-brands fa-js"></i>
                <i class="fa-solid fa-shuttle-space"></i>
                <i class="fa-brands fa-git-alt"></i>
                <i class="fa-brands fa-linux"></i>
            </div>
        </div>

        
        
</div>
<div class="footer">
    <p>Made by <code><b>waste3d</code> | <code>Nikolay Sorokoletov</b></code> with <b>love</b>. All rights reserved.</p>
</div>
</Layout>
